{% extends "base" %} 

{% block content %}
  <div class="row">
  <div id="audio-player-container" class="col-md-6"></div>
  <div id="league-container" class="col-md-6"></div>
  </div>
{% endblock content %}

{% block script %}
<script src="/static/index.js" defer></script>
<script src="/static/audio-player.js" defer></script>
{% endblock script %}
