{% extends "base" %}

{% block content %}
<div class="row text-center">
  <div class="col-4 mx-auto" id="audio-player-container"></div>
</div>
<br>
<div class="row text-center">
  <div class="col-4" id="top-tracks"></div>
  <div class="col-4" id="recently-played"></div>
  <div class="col-4" id="top-artists"></div>
</div>


{% endblock content %}

{% block script %}
<script src="/static/spotify.js" defer> </script>
<script src="/static/audio-player.js" defer> </script>
{% endblock script %}
